[Unit]
Description=Run Landlock test
DefaultDependencies=no

[Service]
ExecStart=bash init.sh
Type=idle
PassEnvironment=PATH TERM \
		TEST_UID TEST_CWD TEST_RET TEST_EXEC \
		LANDLOCK_CRATE_TEST_ABI
StandardInput=tty
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
